.DS_Store
._.DS_Store
__pycache__/
data_file.h5
meta_data.pkl
.DS_Store
.idea/
mnt/
logs/
old_checkpoints/
v1_checkpoint/
v2_checkpoint/
v3_checkpoint/
v4_checkpoint/
v5_checkpoint/
v0_ckpt/
v1_ckpt/
seg_pet/

experiments/

models/Unet/
simple.py

results/figures/
validate/fig_results/

plots/

temp.py
temp2.py
temp3.py

ae_gan.py
models/ae_gan_model.py

copies/
configs/

trials/

metrics_plots/
metrics_plots_v1/

old_files/

